# .env file for TG-FileStreamBot

API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
SLEEP_THRESHOLD=60
WORKERS=6
BIN_CHANNEL=your_bin_channel
PORT=8080
WEB_SERVER_BIND_ADDRESS=0.0.0.0
PING_INTERVAL=1200
HAS_SSL=false
NO_PORT=false
HASH_LENGTH=6
FQDN=0.0.0.0
KEEP_ALIVE=false
DEBUG=false
USE_SESSION_FILE=false
ALLOWED_USERS=user1,user2,user3
